<!-- footer -->
<div class="footer">
  <div class="footer-top">
    <div class="container">
      <div class="footer-grids">
        <div class="col-md-3 footer-logo">
          <img src="static/images/logo.png" alt="logo" width="150" />
          <p>Phát triển du lịch Việt. Vườn tầm du lịch thế giới</p>
        </div>
        <div class="col-md-3 footer-grid">
          <h3>Navigation</h3>
          <ul>
            <li class="active first-list">
              <a href="index.html">Trang chủ</a>
            </li>
            <li><a href="/us" class="scroll">Về chúng tôi</a></li>
            <li><a href="#destinations" class="scroll">Top điểm dừng</a></li>
            <li><a href="#gallery" class="scroll">Ảnh</a></li>
            <li><a href="#offers" class="scroll">Tours</a></li>
            <li><a href="#contact" class="scroll">Liên hệ</a></li>
          </ul>
        </div>
        <div class="col-md-3 footer-list">
          <h3>Tours mới nhất</h3>
          <ul>
            <li>
              <i class="fa fa-arrow-right" aria-hidden="true"></i> Du lịch ẩm
              thực Việt
            </li>
            <li>
              <i class="fa fa-arrow-right" aria-hidden="true"></i> Du lịch xuyên
              thành phố
            </li>
          </ul>
        </div>
        <div class="col-md-3 footer-grid">
          <h3>Mạng xã hội</h3>
          <ul class="w3agile_footer_grid_list">
            <li>
              Facebook: <br />
              <a href="#">Vholic Travel fanpage</a>
              <span><i class="fa fa-facebook" aria-hidden="true"></i></span>
            </li>
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <p>
        © 2017 World Tour. All rights reserved | Design by
        <a href="http://w3layouts.com">W3layouts</a>
      </p>
    </div>
  </div>
</div>
<!-- //footer -->
