<!-- Popular Home Chef Section Start Here -->
<div class="shop-page single padding-tb pb-0">
  <div class="container">
    <div class="section-wrapper">
      <div class="row justify-content-center">
        <div class="col-xl-8 col-12">
          <article>
            <div class="shop-single">
              <div class="row justify-content-center">
                <div class="col-md-6 col-12">
                  <div class="swiper-container gallery-top">
                    <div class="swiper-wrapper"><%console.log(product)%></div>
                  </div>
                  <div class="swiper-container gallery-thumbs">
                    <div class="swiper-wrapper"></div>
                  </div>
                </div>
                <div class="col-md-6 col-12">
                  <div class="shop-single-content">
                    <div class="title">
                      <div class="p-food-group">
                        <span>Loại sản phẩm:</span>
                      </div>
                      <div class="rating"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
        <div class="col-xl-4 col-md-5 col-12">
          <aside>
            <div class="popular-chef-widget">
              <div class="food-quyality">
                <div class="section-header"></div>
                <div class="section-wrapper">
                  <p>Số lượng:</p>
                  <label>
                    <a
                      href="javascription:void(0)"
                      id="minus_quantity_btn"
                      class="btn_cal"
                      ><i class="zmdi zmdi-minus-circle"></i>
                    </a>
                    <input type="number" id="quantity" value="1" />
                    <a
                      href="javascription:void(0)"
                      id="plus_quantity_btn"
                      class="btn_cal"
                      ><i class="zmdi zmdi-plus-circle"></i>
                    </a>
                  </label>

                  <!-- <ul>
                                          <li><a href="#"><i class="icofont-heart-alt"></i>Wishlist</a></li>
                                          <li><a href="#"><i class="icofont-drag2"></i>Compare</a></li>
                                      </ul> -->
                </div>
              </div>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Popular Home Chef Section Ending Here -->
